@import "../../../../v2/css/scss/_fonts";
@import "../../../../v2/addon-css/typography.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");

html {
  height: auto;
}

body {
  height: auto;
  min-height: 100vh;
}

button:not(.asLink),
a.button {
  @media (max-width: 1023px) {
    filter: unset !important;
  }
}

.game-container {
  max-width: 690px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--size-S);
  padding-right: var(--size-S);
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1024px) {
    padding-bottom: 120px;
  }

  h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .game-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    .result-item-block {
      display: flex;

      @media (min-width: 768px) {
        width: auto;
      }
    }

    .correct-item,
    .incorrect-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 16px;
      height: 32px;

      &::before {
        border-radius: 50%;
        padding-right: 0;
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        margin-right: 8px;
      }

      @media (min-width: 480px) {
        &::before {
          height: 32px;
          width: 32px;
          font-size: 18px;
          line-height: 30px;
          font-weight: 600;
        }
      }

      @media (min-width: 768px) {
        &::before {
          height: 32px;
          width: 32px;
          font-size: 24px;
        }
      }
    }

    .correct-item {
      color: var(--clr-brandOKShad);
      margin-right: 16px;
      margin-left: 0;

      &::before {
        background-color: var(--clr-brandOKShad);
        color: var(--clr-white);
      }
    }

    .incorrect-item {
      color: var(--clr-brandErrorShad);

      &::before {
        background-color: var(--clr-brandErrorShad);
        color: var(--clr-white);
      }
    }

    @media (min-width: 768px) {
      .correct-item,
      .incorrect-item {
        padding: 0 16px 0 8px;
      }

      .correct-item {
        border: 2px solid var(--clr-brandOKShad);
        width: 120px;
        margin-right: 20px;
        height: 48px;
      }

      .incorrect-item {
        border: 2px solid var(--clr-brandErrorShad);
        width: 120px;
        height: 48px;
        margin-right: 20px;
      }
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;

      .timer-clock {
        background-color: unset;
        border: 2px solid var(--clr-hover);

        &:before {
          content: "";
          display: block;
          height: 16px;
          width: 16px;
          background-size: 100%;
          background-image: url(../img/clock.svg);
        }
      }

      span {
        width: 32px;
        height: 32px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-hover);
        border-radius: 50%;
        color: white;
      }
    }

    .lives {
      display: flex;
      justify-content: center;

      span {
        &:not(:last-of-type) {
          margin-right: 8px;
        }
      }

      span:before {
        content: "";
        display: block;
        height: 24px;
        width: 24px;
        background-size: 100%;
        background-image: url(../img/heart-filled.svg);
      }

      .heart-empty:before {
        background-image: url(../img/heart.svg);
      }
    }

    @media (min-width: 480px) {
      .lives {
        span:before {
          height: 32px;
          width: 32px;
        }
      }

      .timer {
        span {
          width: 40px;
          height: 40px;
          font-size: 240x;

          &.timer-clock:before {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    @media (min-width: 600px) {
      .timer {
        margin: 0;
      }

      .lives {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    @media (min-width: 768px) {
      .lives {
        margin-left: auto;

        span:before {
          height: 40px;
          width: 40px;
        }
      }

      .timer {
        span {
          width: 48px;
          height: 48px;
          font-size: 24px;

          &.timer-clock:before {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  .game-finish-wrapper {
    width: 100%;

    .game-finish-title {
      font-weight: bold;
      font-size: 38px;
      line-height: 48px;
      margin: 80px 0 20px;
      text-align: center;
    }

    .game-finish-text {
      margin-bottom: 44px;
      text-align: center;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .dashboard-link,
      .play-again-link {
        max-width: 300px;
        width: 100%;
        text-align: center;
      }

      .play-again-link {
        margin: 20px 0 0 0;
      }
    }

    @media (min-width: 360px) {
      .game-finish-title {
        font-size: 40px;
        line-height: 48px;
      }
    }

    @media (min-width: 480px) {
      .game-finish-title {
        font-size: 60px;
        line-height: 80px;
      }

      .btn-container {
        flex-direction: row;
        justify-content: center;

        .dashboard-link,
        .play-again-link {
          width: 50%;
        }

        .play-again-link {
          margin: 0 0 0 20px;
        }
      }
    }

    @media (min-width: 768px) {
      .game-finish-title {
        font-size: 72px;
        line-height: 87px;
      }
    }
  }
}

.game {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;
  padding: 20px 0;
  background-color: var(--clr-white);
  border-radius: 16px;
  align-items: center;
  user-select: none;

  .slots {
    width: 100%;

    .slots-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -6px auto -6px;
      max-width: 650px;
      margin-bottom: 14px;
      padding: 0 8px;

      .slot-item-container {
        padding: 6px;
      }

      .slot-item-container .slot-item.error span:before {
        border: 2px solid #d12335;
        background-color: #f9dcde;
      }

      .slot-item {
        display: block;
        padding-bottom: 100%;
        position: relative;

        span:before {
          content: "";
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: 2px solid #debd8d;
          box-sizing: border-box;
          border-radius: 10px;
          position: absolute;
          color: #debd8d;
        }

        &:not([data-choice=""]) span:before {
          content: "";
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: 60%;
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      .active {
        &:before {
          content: "";
          display: none;
          border-left: 10px solid var(--clr-transparent);
          border-right: 10px solid var(--clr-transparent);
          border-bottom: 10px solid #debd8d;
          width: 0;
          height: 0;
          position: absolute;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
        }

        &:after {
          content: "";
          display: none;
          border-left: 10px solid var(--clr-transparent);
          border-right: 10px solid var(--clr-transparent);
          border-bottom: 10px solid white;
          width: 0;
          height: 0;
          position: absolute;
          bottom: -23px;
          left: 50%;
          transform: translateX(-50%);
        }

        &[data-choice=""] span:before {
          border: 2px solid #007dd7;
          text-align: center;
          padding: 8px;

          @media (min-width: 768px) {
            color: #29200f;
            content: "What figure?";
          }
        }

        &:not([data-choice=""]) span:before {
          border: 2px solid #007dd7;
        }
      }

      [data-choice="star"] span:before {
        background-image: url(../img/star.svg);
      }

      [data-choice="circle"] span:before {
        background-image: url(../img/circle.svg);
      }

      [data-choice="triangle"] span:before {
        background-image: url(../img/triangle.svg);
      }

      [data-choice="square"] span:before {
        background-image: url(../img/square.svg);
      }
      [data-choice="hexagon"] span:before {
        background-image: url(../img/hexagon.svg);
      }

      [data-choice="octagon"] span:before {
        background-image: url(../img/octagon.svg);
      }

      [data-choice="diamond"] span:before {
        background-image: url(../img/diamond.svg);
      }

      [data-choice="trapeze"] span:before {
        background-image: url(../img/trapeze.svg);
      }

      [data-choice="rhombus"] span:before {
        background-image: url(../img/rhombus.svg);
      }
      [data-choice="cross"] span:before {
        background-image: url(../img/cross.svg);
      }

      [data-choice="ring"] span:before {
        background-image: url(../img/ring.svg);
      }
      [data-choice="crescent"] span:before {
        background-image: url(../img/crescent.svg);
      }

      @media (min-width: 768px) {
        flex-wrap: unset;
        padding: 0;

        .slot-item.active {
          &:before,
          &:after {
            display: block;
          }
        }
      }
    }

    .variant-container {
      display: flex;
      border-radius: 16px;
    }

    .variant {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      border-radius: 16px;
      margin: auto;

      .variant-item-container {
        width: 60px;
        height: 60px;
        margin: 4px;
        border-radius: 8px;
      }

      .variant-item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

        & > div {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .img-container {
            img {
              width: 100%;
              height: auto;
              display: block;
            }
          }
        }

        p {
          font-size: 14px;
          line-height: 20px;
          margin-top: 4px;
          text-align: center;
          display: none;
        }
      }

      @media (min-width: 480px) {
        max-width: 430px;

        .variant-item-container {
          width: 80px;
          height: 80px;
          margin: 4px;

          .variant-item {
            justify-content: flex-end;

            p {
              display: block;
              padding-bottom: 8px;
            }
          }
        }
      }

      @media (min-width: 768px) { }
    }
  }

  .variant-item-container {
    display: none;
  }

  [data-level="0"] {
    .variant-item-container:nth-of-type(1),
    .variant-item-container:nth-of-type(2),
    .variant-item-container:nth-of-type(3),
    .variant-item-container:nth-of-type(4),
    .variant-item-container:nth-of-type(5),
    .variant-item-container:nth-of-type(6),
    .variant-item-container:nth-of-type(7),
    .variant-item-container:nth-of-type(8) {
      display: block;
    }

    .variant {
      max-width: 330px;
    }

    @media (min-width: 480px) {
      .variant {
        max-width: 470px;
      }

      .variant-item-container {
        width: 80px;
        height: 80px;
      }
    }
  }

  [data-level="1"] {
    .variant-item-container:nth-of-type(1),
    .variant-item-container:nth-of-type(2),
    .variant-item-container:nth-of-type(3),
    .variant-item-container:nth-of-type(4),
    .variant-item-container:nth-of-type(5),
    .variant-item-container:nth-of-type(6),
    .variant-item-container:nth-of-type(7),
    .variant-item-container:nth-of-type(8),
    .variant-item-container:nth-of-type(9) {
      display: block;
    }

    .variant {
      max-width: 330px;
    }

    @media (min-width: 480px) {
      .variant {
        max-width: 470px;
      }

      .variant-item-container {
        width: 80px;
        height: 80px;
      }
    }
  }

  [data-level="2"] {
    .variant-item-container:nth-of-type(1),
    .variant-item-container:nth-of-type(2),
    .variant-item-container:nth-of-type(3),
    .variant-item-container:nth-of-type(4),
    .variant-item-container:nth-of-type(5),
    .variant-item-container:nth-of-type(6),
    .variant-item-container:nth-of-type(7),
    .variant-item-container:nth-of-type(8),
    .variant-item-container:nth-of-type(9),
    .variant-item-container:nth-of-type(10) {
      display: block;
    }

    .variant {
      max-width: 330px;
    }

    @media (min-width: 480px) {
      .variant {
        max-width: 470px;
      }

      .variant-item-container {
        width: 80px;
        height: 80px;
      }
    }
  }

  [data-level="3"] {
    .variant-item-container:nth-of-type(1),
    .variant-item-container:nth-of-type(2),
    .variant-item-container:nth-of-type(3),
    .variant-item-container:nth-of-type(4),
    .variant-item-container:nth-of-type(5),
    .variant-item-container:nth-of-type(6),
    .variant-item-container:nth-of-type(7),
    .variant-item-container:nth-of-type(8),
    .variant-item-container:nth-of-type(9),
    .variant-item-container:nth-of-type(10),
    .variant-item-container:nth-of-type(11) {
      display: block;
    }

    .variant {
      max-width: 330px;
    }

    @media (min-width: 480px) {
      .variant {
        max-width: 550px;
      }

      .variant-item-container {
        width: 80px;
        height: 80px;
      }
    }
  }

  [data-level="4"] {
    .variant-item-container:nth-of-type(1),
    .variant-item-container:nth-of-type(2),
    .variant-item-container:nth-of-type(3),
    .variant-item-container:nth-of-type(4),
    .variant-item-container:nth-of-type(5),
    .variant-item-container:nth-of-type(6),
    .variant-item-container:nth-of-type(7),
    .variant-item-container:nth-of-type(8),
    .variant-item-container:nth-of-type(9),
    .variant-item-container:nth-of-type(10),
    .variant-item-container:nth-of-type(11),
    .variant-item-container:nth-of-type(12) {
      display: block;
    }

    .variant {
      max-width: 330px;
    }

    @media (min-width: 480px) {
      .variant {
        max-width: 600px;
      }

      .variant-item-container {
        width: 80px;
        height: 80px;
      }
    }
  }

  [data-level="0"] {
    .variant-item-container {
      display: none;
    }
    .slot-item-container {
      width: 25%;
      max-width: 140px;

      @media (max-width: 479.9px) {
        width: 25%;
      }
    }

    @media (min-width: 768px) {
      .slot-item:not(.active) > span:before {
        font-size: 24px;
      }
    }
  }

  [data-level="1"] {
    .slot-item-container {
      width: 20%;
    }

    @media (max-width: 479.9px) {
      .slots-list {
        max-width: 270px;
      }
      .slot-item-container {
        width: 33.333%;
      }
    }

    @media (min-width: 768px) {
      .slot-item:not(.active) > span:before {
        font-size: 24px;
      }
    }
  }

  [data-level="2"] {
    .slots-list {
      max-width: 666px;
    }

    .slot-item-container {
      width: 16.666%;
    }

    @media (max-width: 479.9px) {
      .slots-list {
        max-width: 270px;
      }

      .slot-item-container {
        width: 33.333%;
      }
    }

    @media (min-width: 768px) {
      .slot-item:not(.active) > span:before {
        font-size: 22px;
      }
    }
  }

  [data-level="3"],
  [data-level="4"] {
    .slots-list {
      max-width: 666px;
    }

    .slot-item-container {
      width: 14.285%;

      @media (max-width: 479.9px) {
        width: 25%;
      }
    }
  }

  &.pending-state {
    .slots-list .slot-item-container .slot-item span:before {
      content: "?";
      background: unset;
    }
  }

  &.memoize-state {
    .variant-container {
      visibility: hidden;
      pointer-events: none;
    }
  }

  &.choice-state {
    .slots-list .slot-item span:before {
      content: "?";
    }

    .slot-item:not(.active) {
      cursor: pointer;
    }

    .variant-container {
      box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.15), 0 0 0 2px #debd8d;

      .variant-item:hover {
        cursor: pointer;
      }

      .selected.variant-item {
        box-shadow: inset 0 0 0 2px #007dd7;

        @media (min-width: 768px) {
          transform: translateY(2px);
          .aspect-ratio-item {
            padding: 8px;
          }
        }
      }
    }
  }
}

.game-container .btn-check {
  display: block;
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
}

.ui-droppable-active {
  fill: red;
}

.game-welcome-modal {
  @extend #customScroll--gray;

  @media (min-width: 360px) {
    height: auto;
  }

  &[open="open"] {
    display: flex;
    flex-direction: column;
  }

  .dialog-content {
    @media (max-width: 480px) {
      p {
        font-size: 18px;
      }
    }

    overflow: auto;

    padding: 0 24px;
    text-align: start;

    @media (min-width: 768px) {
      padding: 0 60px;
    }
  }

  .dialog-footer {
    text-align: end;
    margin-top: auto;
  }
}

.game-scores-dialog {
  @extend #customScroll--gray;
  max-height: 630px;

  &[open="open"] {
    display: flex;
    flex-direction: column;
  }

  .dialog-content {
    flex-grow: 1;
    overflow: hidden;
  }

  .tabs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .tabs-links {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--clr-brandBeigeDark);

    li {
      padding-right: 4px;
      padding-left: 4px;

      a {
        display: block;
        padding: 7px 40px;
        text-decoration: none;
        color: var(--clr-text);
        border: none;

        &:hover {
          background-color: var(--clr-brandBeigeLite);
          border-radius: 6px 6px 0 0;
        }
      }
    }

    .ui-tabs-active a {
      background-color: var(--clr-brandBeige);
      border-radius: 6px 6px 0 0;
    }
  }

  .table-container {
    position: relative;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      th {
        position: sticky;
        top: 0;
        background-color: #f8f8f8;
        padding: 12px;
        text-transform: uppercase;
        font-family: var(--font-gothic);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        color: #8e8b87;
      }

      th:nth-of-type(1) {
        width: 120px;
        text-align: end;
        padding-left: 20px;
      }

      th:nth-of-type(2) {
        width: 500px;
        min-width: 250px;
        text-align: start;
      }

      th:nth-of-type(3) {
        width: 120px;
        text-align: end;
      }

      th:nth-of-type(4) {
        width: 120px;
        text-align: end;
        padding-right: 12px;
      }

      @media (min-width: 768px) {
        th {
          padding: 12px 20px;
        }

        th:nth-of-type(1) {
          padding-left: 60px;
        }

        th:nth-of-type(4) {
          padding-right: 20px;
        }
      }
    }

    tbody {
      tr:nth-of-type(even) {
        background-color: #f8f8f8;
      }
      td {
        padding: 12px;
        text-align: end;
        font-family: var(--font-gothic);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        overflow-wrap: break-word;
      }

      td:nth-of-type(2) {
        text-align: start;
        max-width: 500px;
      }

      td:nth-of-type(4) {
        color: var(--clr-brandOKShad);
        font-weight: 600;
      }

      @media (min-width: 768px) {
        td {
          padding: 20px;
        }
      }
    }
  }

  .dialog-footer {
    text-align: end;
    margin-top: auto;
  }
}
