@font-face {
	font-family: icomoon;
	src: url('../fonts/icomoon.eot?3p73j4Ta');
	src: url('../fonts/icomoon.eot?3p73j4Ta#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?3p73j4Ta') format('truetype'),
		url('../fonts/icomoon.woff?3p73j4Ta') format('woff'),
		url('../fonts/icomoon.svg?3p73j4Ta#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}