@import '../../css/scss/_variables';
@import '../../css/scss/_extend';
@import '../../css/scss/_fonts';
@import '../../css/scss/_owl.carousel.scss';
@import './typography.scss';
// TODO: replace @import with direct links to font files
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

// +Chapter-book
.chapter-book-page {
  .book-header {
    margin-bottom: 20px;
  }

  .aspect-ratio-container {
    padding-bottom: 600px;
    position: relative;

    @media (min-width: 768px) {
      padding-bottom: 800px;
    }

    @media (min-width: 1024px) {
      padding-bottom: 75%;
    }

    .aspect-ratio-item {
      position: absolute;
    }
  }

  .chapter-book-content {
    position: relative;
    z-index: 1;
    overflow-y: auto;
    padding-right: 10px;
    padding-left: 10px;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-brandBeige);
      border-radius: 10px;
    }

    .chapter-book-img {
      max-width: 600px;
      width: 100%;
      padding-bottom: 20px;

      @media (min-width: 768px) {
        padding-bottom: 40px;
      }

      @media (min-width: 1024px) {
        float: right;
        width: 360px;
        padding-left: 40px;
        padding-bottom: 48px;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;

        @media (min-width: 1024px) {
        }
      }
    }

    .chapter-book-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  .bookLesson-pagination {
    padding-top: 40px;

    @media (min-width: 1024px) {
      padding-top: 0;
    }
  }

  .end-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: unset;
    padding: 0;

    .aspect-ratio-container {
      width: 100%;
      padding-bottom: 400px;

      @media (min-width: 768px) {
        padding-bottom: 85%;
      }

      .aspect-ratio-item {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .book-header {
      margin-bottom: 40px;
      text-align: center;
    }

    .button {
      margin-bottom: 20px;
      text-align: center;
      min-width: 220px;
    }
  }

  section.singlePage-content {
    @media (min-width: 600px) and (max-width: 1023.9px) {
      margin-bottom: 160px;
    }
  }
}

// -Chapter-book

// Quiz general
.quiz-page {
  padding-left: var(--size-S);
  padding-right: var(--size-S);
  padding-top: 12px;

  article {
    max-width: 690px;
    margin-bottom: 80px;

    @media (min-width: 768px) {
      margin-bottom: 120px;
    }
  }

  @media (max-width: 1440px) {
    .simpleButton.backButton.back2dashboardButton {
      position: static;
      display: inline-block;
      margin-top: 0;
    }

    .backButton.back2dashboardButton {
      position: static;
      order: 1;
      margin-top: 0;
      align-self: center;
    }
  }

  @media (min-width: 1440px) {
    padding-top: 20px;
  }

  .quiz-progress {
    padding: 16px 0 0;
    margin: 0;

    @media (min-width: 480px) {
      padding: 36px 0 0;
      margin: 0 0 10px;
    }

    @media (min-width: 768px) {
      margin: 0 0 60px;
    }

    .progressBar {
      display: none;

      @media (min-width: 768px) {
        display: inline-block;
        width: 100%;
      }
    }
  }

  .progress-top {
    display: flex;
    justify-content: space-between;

    div,
    span {
      font-size: 24px;
      line-height: 30px;
    }

    span {
      color: var(--clr-brandBrick);

      @for $i from 20 through 79 {
        &.progressText--width#{$i} {
          color: var(--clr-hover);
        }
      }
      @for $i from 80 through 100 {
        &.progressText--width#{$i} {
          color: var(--clr-brandOK);
        }
      }
    }

    @media (max-width: 479px) {
      div,
      span {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .quiz-header {
    margin-bottom: 20px;
    text-align: center;
    padding-right: 32px;

    @media (max-width: 479.9px) {
      font-size: 36px;
      line-height: 46px;
    }

    @media (max-width: 359.9px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .quiz-img-container {
    display: flex;
    justify-content: center;

    .quiz-image {
      max-width: 335px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .blackboard-btn-container {
    position: absolute;
    top: 12px;
    right: var(--size-S);

    button {
      padding: 0;
      width: 36px;
      justify-content: center;

      &:before {
        padding: 0;
        font-size: 16px;
        line-height: 20px;
      }

      span {
        display: none;
      }
    }

    @media (min-width: 480px) {
      button {
        width: auto;
        padding-left: 1.5em;
        padding-right: 1.5em;

        &:before {
          padding-right: 10px;
          font-size: 24px;
          line-height: 44px;
        }

        span {
          display: inline-block;
        }
      }
    }

    @media (min-width: 768px) {
      right: 24px;

      .simpleButton.ghostButton {
        height: auto;
      }
    }

    @media (min-width: 1440px) {
      top: 40px;
    }
  }

  @media (min-width: 1024px) {
    a.simpleButton.back2dashboardButton:not(.asLink) {
      top: 40px;
    }
  }

  .blackboard {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10;

    @media (min-width: 768px) {
      right: 20px;
      top: 40px;
      transform: unset;
    }

    dialog {
      flex-direction: column;
      background-color: var(--clr-footer);
      border: 4px solid var(--clr-brandBlue);
      border-radius: 16px;
      width: 94vw;
      height: 98vh;

      @media (min-width: 768px) {
        max-width: 335px;
        max-height: 335px;
      }

      .dialog-container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .hasIcon--minimize {
        display: none;
      }

      &.full-black-board {
        @media (min-width: 768px) {
          max-width: 600px;
          max-height: 600px;
        }

        .hasIcon--minimize {
          display: flex;
        }

        .hasIcon--maximize {
          display: none;
        }
      }
    }

    .dialog-header {
      display: flex;
      justify-content: space-between;

      button {
        transform: unset;
        filter: none;
        padding: 10px;
        box-shadow: none;
        background-color: transparent;
        color: var(--clr-white);

        &:nth-of-type(1),
        &:nth-of-type(2) {
          visibility: hidden;

          @media (min-width: 768px) {
            visibility: visible;
          }
        }

        &:hover {
          background-color: transparent;
        }

        &:active {
          background-color: var(--clr-brandBlue);
          transform: unset;
          filter: none;
          box-shadow: none;
        }

        &:focus {
          background-color: var(--clr-brandBlue);
        }

        &::before {
          padding: 0;
        }
      }
    }

    .dialog-body {
      height: 100%;
      border-top: 2px solid var(--clr-brandBlue);
      cursor: url('../../img/pencil.png') 0 60, none;
    }

    .dialog-footer {
      button {
        transform: unset;
        filter: none;
        padding: 10px;
        box-shadow: none;
        background-color: transparent;
        color: var(--clr-white);
        line-height: 24px;
        font-size: 16px;
        margin-left: auto;
        display: block;

        &:hover {
          background-color: transparent;
        }

        &:active {
          background-color: var(--clr-brandBlue);
          transform: unset;
          filter: none;
          box-shadow: none;
        }

        &:focus {
          background-color: var(--clr-brandBlue);
        }

        &::before {
          padding: 0;
        }
      }
    }
  }

  .hint-pronunciation {
    &::after {
      content: '\e92e';
      position: absolute;
      background: var(--clr-brandGold);
      font-size: calc(var(--size-XXS) * 2);
      line-height: 2em;
      width: 2em;
      text-align: center;
      border-radius: 100%;
      font-family: icomoon;
      font-weight: 400;
    }
  }

  .btn-pronunciation {
    content: '\e92e';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    &:hover,
    &:focus {
      text-decoration: none;
      border: none;
      color: var(--clr-text);
      &:after {
        background-color: var(--clr-brandGoldLite);
      }
    }

    &:after {
      content: '\e92e';
      display: inline-block;
      text-align: center;
      border-radius: 100%;
      font-family: icomoon;
      font-weight: 400;
      width: 2em;
      background: var(--clr-brandGold);
      font-size: calc(var(--size-XXS) * 2);
      line-height: 2em;
    }

    &.pause {
      &:after {
        content: '\e92a';
      }
    }
  }

  .quiz-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn-continue {
    padding-right: 72px;
    padding-left: 72px;
  }

  .btn-check {
    padding-right: 88px;
    padding-left: 88px;
  }
}

// + Quiz multiple
.quiz-page {
  .correct-answer-text {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;

    & + .buttons-container {
      margin-bottom: 78px;
    }
  }

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin: -10px;
    margin-bottom: 30px;

    .btn-item {
      width: 100%;
      max-width: 600px;
      padding: 10px;

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 16px;
        padding: 24px 58px 24px 24px;
        background-color: var(--clr-white);
        border: 2px solid var(--clr-white);
        position: relative;
        cursor: pointer;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.15s ease-out 0s, border 0.15s ease-out 0s;

        &:hover {
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        }

        &::after {
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          color: rgba(0, 0, 0, 1);
        }

        &::before {
          left: 20px;
          top: 24px;
        }

        &.disabled-label {
          opacity: 0.6;
        }

        &.wrong-label {
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
          border: 2px solid var(--clr-brandErrorShad);
        }

        &.wrong-cross-icon::before {
          content: '\e90d';
          position: absolute;
          background: var(--clr-brandErrorShad);
          font-size: calc(var(--size-XXS) * 2);
          line-height: 2em;
          width: 2em;
          text-align: center;
          border-radius: 100%;
          font-family: icomoon;
          font-weight: 400;
          color: var(--clr-white);
        }

        &.correct-check-icon {
          background-color: var(--clr-brandOKShad);
          border-color: var(--clr-brandOKShad);
          color: var(--clr-white);

          &::before {
            content: '\e922';
            position: absolute;
            background: var(--clr-white);
            font-size: calc(var(--size-XXS) * 2);
            line-height: 2em;
            width: 2em;
            text-align: center;
            border-radius: 100%;
            font-family: icomoon;
            font-weight: 400;
            color: var(--clr-brandOKShad);
          }
        }
      }

      input[type='radio'] {
        height: 0;
        width: 0;
        opacity: 0;
        position: absolute;
      }

      input:checked + label {
        border: 2px solid #ffb800;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
      }

      input:focus + label {
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
      }

      input:disabled + label {
        cursor: default;
      }

      @media (min-width: 768px) {
        width: 50%;
        max-width: unset;
      }
    }
  }

  // Finish page
  .quiz-finish {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 480px) {
      margin-top: 40px;
    }

    @media (max-width: 360px) {
      margin-top: 30px;
    }

    @media (min-width: 1440px) {
      margin-top: 40px;
    }

    .quiz-percent-res {
      font-family: Cormorant Infant;
      font-weight: bold;
      font-size: 140px;
      line-height: 200px;
      color: var(--clr-brandGold);
    }

    .quiz-status {
      margin-bottom: 20px;
      font-size: 40px;
      line-height: 50px;
    }

    .quiz-finish-text {
      text-align: center;
      font-size: 18px;
      line-height: 28px;

      &:last-of-type {
        margin-bottom: 40px;
      }

      span {
        color: var(--clr-hover);
      }
    }

    a {
      max-width: 300px;
      text-align: center;
    }

    .btn-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      a {
        width: 100%;
        display: block;
      }

      a:nth-of-type(2) {
        margin-left: 0;
        margin-top: 20px;
      }

      @media (min-width: 768px) {
        flex-wrap: nowrap;
        flex-direction: row;

        a:nth-of-type(2) {
          margin-left: 20px;
          margin-top: 0;
        }
      }
    }

    @media (min-width: 480px) {
      .quiz-percent-res {
        font-size: 200px;
        line-height: 300px;
      }

      .quiz-status {
        font-size: 58px;
        line-height: 68px;
      }

      .quiz-finish-text {
        font-size: 20px;
        line-height: 30px;
      }
    }

    @media (min-width: 768px) {
      .quiz-percent-res {
        font-size: 288px;
        line-height: 349px;
      }

      .quiz-status {
        font-size: 72px;
        line-height: 87px;
      }

      .quiz-finish-text {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  // Quiz type answer
  .quiz-type-header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .quiz-type-answer {
    .quiz-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      width: 100%;
      position: relative;

      &.is-valid,
      &.is-invalid {
        input {
          padding-right: 60px;
        }

        label {
          &:after {
            font-family: icomoon;
            font-size: var(--size-L);
            position: absolute;
            top: 28px;
            right: 2px;
            border-radius: 0 6px 6px 0;
            text-align: center;
            background: linear-gradient(to right, var(--clr-transparent), var(--clr-white));
            width: calc(var(--size-XXL) * 1.25);
            height: calc(var(--size-XXL) * 1.25);
            line-height: calc(var(--size-XXL) * 1.25);

            @media (max-width: 1023px) {
              top: 25px;
              width: calc(var(--size-M) * 2.5);
              height: calc(var(--size-M) * 2.5);
              line-height: calc(var(--size-M) * 2.5);
            }
          }
        }
      }

      &.is-invalid {
        input {
          border-color: var(--clr-brandError);
        }

        label {
          &:after {
            content: '\e911';
            color: var(--clr-brandError);
          }
        }
      }

      &.is-valid {
        input {
          border-color: var(--clr-brandOK);
        }

        label {
          &:after {
            content: '\e90c';
            color: var(--clr-brandOK);
          }
        }
      }
    }

    .correct-answer-block {
      width: 100%;
      margin-bottom: 40px;

      .correct-answer-title,
      .correct-answer-text {
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin: 0;

        @media (min-width: 480px) {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .correct-answer-text {
        color: var(--clr-brandOK);
      }
    }
  }

  // Multi long
  .quiz-multi-long.buttons-container {
    .btn-item {
      flex-basis: 100%;
    }

    label {
      text-align: left;
      padding-right: 60px;

      &:after {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .quiz-multi-short.buttons-container {
    flex-direction: column;
    align-items: center;

    .btn-item {
      width: 100%;
      max-width: 500px;
    }
  }
}
// - Quiz multiple

.video-player-container {
  max-width: 1058px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1024px) {
    padding-top: 20px;
  }

  .videoPlayer {
    position: absolute;
    top: 0%;
    left: 0;
    transform: translateY(-124px);
    height: auto;
    margin-right: 20px;
    padding: 0;

    @media (max-width: 480px) {
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }

    @media (min-width: 768px) {
      transform: translateY(-169px);
    }

    @media (max-width: 1023.9px) {
      border-radius: 0;
    }

    @media (min-width: 1024px) {
      max-width: 550px;
      position: static;
      transform: unset;
    }

    .videoControlPanel {
      position: static;
      display: flex;

      ul {
        width: 100%;
      }

      @media (min-width: 768px) {
        height: 100px;
      }

      @media (min-width: 1024px) {
        height: auto;
      }

      @media (max-width: 1023.9px) {
        border-radius: 0;
      }
    }
  }

  .linkFullScreen {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      position: static;
      margin-right: 10px;
    }
  }
}

main.main-with-player.forDashboard {
  padding-top: 80px;

  @media (min-width: 768px) and (max-width: 1023.9px) {
    padding-top: 120px;
  }

  @media (min-width: 1024px) {
    padding-top: 0;
  }
}

// Hide header for tablet and mobile
.with-player:not(html) {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

// + Notification list
.notification-list-page {
  padding-left: var(--size-S);
  padding-right: var(--size-S);

  @media (min-width: 360px) {
    padding-left: var(--size-M);
    padding-right: var(--size-M);
  }

  @media (min-width: 768px) {
    padding-left: var(--size-L);
    padding-right: var(--size-L);
  }

  article {
    max-width: 690px;
    margin-bottom: 80px;

    @media (min-width: 768px) {
      margin-bottom: 120px;
    }
  }

  @media (max-width: 1024px) {
    .backButton.back2dashboardButton {
      display: inline-flex;
      margin-top: 40px;

      &.simpleButton {
        position: static;
      }
    }
  }

  h2 {
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    line-height: 40px;

    @media (min-width: 360px) {
      font-size: 36px;
      line-height: 46px;
    }

    @media (min-width: 480px) {
      font-size: 40px;
      line-height: 50px;
    }

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 58px;
    }

    span {
      color: var(--clr-brandOKShad);
    }
  }

  .notification-container {
    margin-bottom: 40px;
  }

  .notification-item {
    padding: 2px 0;
    border-top: 1px solid var(--clr-brandBeigeLite);

    &:last-of-type {
      border-bottom: 1px solid var(--clr-brandBeigeLite);
    }

    .notification-content {
      position: relative;
      padding: 16px;

      @media (min-width: 480px) {
        padding: 20px;
      }
    }

    .notification-title {
      font-family: var(--font-gothic);
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      padding-right: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .notification-date {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #8e8b87;
      margin-bottom: 12px;
    }

    .notification-text-container {
      display: flex;

      p {
        font-size: 18px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        flex: 1 1 auto;
      }

      .img-container {
        max-width: 68px;
        height: 51px;
        margin-left: 20px;
        flex: 1 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 4px;
        }

        @media (min-width: 480px) {
          margin-left: 30px;
        }
      }
    }

    .restore-content {
      visibility: hidden;
      display: none;
      padding: 0 20px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      align-items: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #f9dcde;
      border-radius: 10px;

      p {
        color: var(--clr-brandErrorShad);
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      button {
        padding: 0 20px 0;

        &:before {
          line-height: 36px;
          font-size: 16px;
        }
      }

      @media (min-width: 480px) {
        flex-direction: row;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }

      @media (min-width: 1024px) {
        button:before {
          line-height: 44px;
          font-size: 24px;
        }
      }
    }

    .delete-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      transition: unset;
    }
  }

  .active {
    border-color: transparent;

    .notification-content {
      background-color: #dcf9e8;
      border-radius: 10px;
    }

    .notification-title {
      color: var(--clr-brandOKShad);
    }

    & + .notification-item {
      border-top-color: transparent;
    }
  }

  .restore-block {
    border-color: transparent;

    &:last-of-type {
      border-color: transparent;
    }

    & > div,
    & > button {
      visibility: hidden;
      transition: none;
    }

    .restore-content {
      visibility: visible;
      display: flex;
    }

    & + .notification-item {
      border-top-color: transparent;
    }
  }

  .btn-container {
    a {
      display: block;
      margin-left: auto;
    }

    @media (min-width: 480px) {
      a {
        max-width: 220px;
      }
    }
  }
}

.notification-nav-item {
  position: static;

  .active {
    position: relative;

    &:after {
      content: '';
      display: block;
      border-left: 10px solid var(--clr-transparent);
      border-right: 10px solid var(--clr-transparent);
      border-bottom: 10px solid #fff;
      width: 0;
      height: 0;
      position: absolute;
      right: 2px;
      top: 20px;
    }
  }

  @media (min-width: 480px) {
    .active {
      &:after {
        top: 26px;
        right: 6px;
      }
    }
  }

  @media (min-width: 600px) {
    position: relative;

    .active {
      &:after {
        display: none;
      }
    }
  }
}

.dropdownMenuWrapper .notification-dropdown.dropdownMenu {
  @extend #customScroll--gray;
  width: 96vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 599.9px) {
    right: 0 !important;

    &:before {
      display: none;
    }
  }

  @media (min-width: 480px) {
    top: 50px;
  }

  @media (min-width: 600px) {
    top: unset;
    left: unset;
    max-height: 361px;
    max-width: 400px;
    transform: unset;
  }

  .notification-dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;

    .view-all-notification {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--clr-brandBlue);

      &:hover,
      &:focus {
        color: var(--clr-hover);
      }
    }
  }

  .notification-dropdown-list {
    overflow-y: auto;
    padding: 0;

    ul {
      display: block;
      overflow-y: auto;
    }
  }

  .notification-dropdown-item {
    border-bottom: 1px solid #d2d1ce;
    padding: 0;

    .notification-link {
      padding: 20px 16px;

      &:hover,
      &:focus {
        background-color: #f4f3f3;
      }
    }
  }

  .notification-dropdown-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .notification-dropdown-item-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--clr-text);
    }

    .notification-dropdown-item-date {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #8e8b87;
      flex-shrink: 0;
    }
  }

  .notification-dropdown-body {
    display: flex;

    .notification-dropdown-text {
      flex: 1 1 auto;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: var(--clr-text);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      overflow-wrap: break-word;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      white-space: initial;
    }

    .notification-dropdown-img {
      width: 50px;
      height: 37px;
      margin-left: 48px;
      flex: 0 0 auto;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
}

// - Notification list

// + Notification page

.notification-page {
  padding-left: var(--size-S);
  padding-right: var(--size-S);

  @media (min-width: 360px) {
    padding-left: var(--size-M);
    padding-right: var(--size-M);
  }

  @media (min-width: 768px) {
    padding-left: var(--size-L);
    padding-right: var(--size-L);
  }

  article {
    max-width: 690px;
    margin-bottom: 80px;

    .notification-page-top {
      h2.heading-2.notification-page-heading {
        padding: 0 !important;
      }
    }

    @media (min-width: 768px) {
      margin-bottom: 120px;
    }
  }

  @media (max-width: 1024px) {
    .backButton.back2dashboardButton {
      display: inline-flex;
      margin-top: 40px;

      &.simpleButton {
        position: static;
      }
    }
  }

  .notification-page-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 40px 0 0;

    .notification-page-heading {
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 4px;
    }

    .notification-page-date {
      font-weight: 600;

      font-size: 16px;
      line-height: 24px;
      color: #cfa970;
    }

    @media (min-width: 480px) {
      .notification-page-heading {
        font-size: 36px;
        line-height: 46px;
      }

      .notification-page-date {
        font-size: 20px;
        line-height: 28px;
      }
    }

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .notification-page-heading {
        margin: 0;
      }
    }
  }

  .notification-page-text {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  .notification-page-media-container {
    img {
      width: 100%;
      height: auto;
    }
  }

  .video-control {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    button {
      width: 48px;
      height: 48px;
      border-radius: 50%;

      &::before {
        font-size: 26px;
        vertical-align: middle;
      }

      @media (min-width: 480px) {
        width: 72px;
        height: 72px;

        &::before {
          font-size: 36px;
          vertical-align: middle;
        }
      }
    }
  }
}

// - Notification page

// + Note list
.note-list-page {
  padding-left: var(--size-S);
  padding-right: var(--size-S);

  @media (min-width: 360px) {
    padding-left: var(--size-M);
    padding-right: var(--size-M);
  }

  @media (min-width: 768px) {
    padding-left: var(--size-L);
    padding-right: var(--size-L);
  }

  article {
    max-width: 690px;
    margin-bottom: 80px;

    @media (min-width: 768px) {
      margin-bottom: 120px;
    }
  }

  @media (max-width: 1024px) {
    .backButton.back2dashboardButton {
      display: inline-flex;
      margin-top: 40px;

      &.simpleButton {
        position: static;
      }
    }
  }

  h2 {
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
    line-height: 40px;

    @media (min-width: 360px) {
      font-size: 36px;
      line-height: 46px;
    }

    @media (min-width: 480px) {
      font-size: 40px;
      line-height: 50px;
    }

    @media (min-width: 768px) {
      font-size: 48px;
      line-height: 58px;
    }
  }

  .note-container {
    margin-bottom: 40px;
  }

  .note-item {
    padding: 2px 0;
    border-top: 1px solid var(--clr-brandBeigeLite);

    &:last-of-type {
      border-bottom: 1px solid var(--clr-brandBeigeLite);
    }

    .note-content {
      position: relative;
      padding: 16px;

      @media (min-width: 480px) {
        padding: 20px;
      }
    }

    .note-date {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
      padding-right: 70px;

      @media (min-width: 480px) {
        font-size: 18px;
        line-height: 30px;
      }
    }

    .note-text-container {
      display: flex;

      p {
        font-size: 18px;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        overflow-wrap: break-word;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        flex: 1 1 auto;
      }
    }

    .restore-content {
      visibility: hidden;
      display: none;
      padding: 0 20px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      align-items: center;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: #f9dcde;
      border-radius: 10px;

      p {
        color: var(--clr-brandErrorShad);
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      button {
        padding: 0 20px 0;

        &:before {
          line-height: 36px;
          font-size: 16px;
        }
      }

      @media (min-width: 480px) {
        flex-direction: row;
        justify-content: space-between;

        p {
          margin: 0;
        }
      }

      @media (min-width: 1024px) {
        button:before {
          line-height: 44px;
          font-size: 24px;
        }
      }
    }

    .edit-btn,
    .delete-btn {
      position: absolute;
      transition: unset;
      top: 10px;

      @media (min-width: 480px) {
        top: 20px;
        font-size: 18px;
        line-height: 30px;
      }
    }

    .edit-btn {
      right: 44px;

      @media (min-width: 480px) {
        right: 74px;
      }
    }

    .delete-btn {
      right: 4px;

      @media (min-width: 480px) {
        right: 20px;
      }
    }
  }

  .restore-block {
    border-color: transparent;

    &:last-of-type {
      border-color: transparent;
    }

    & > div,
    & > button {
      visibility: hidden;
      transition: none;
    }

    .restore-content {
      visibility: visible;
      display: flex;
    }

    & + .note-item {
      border-top-color: transparent;
    }
  }

  .btn-container {
    a {
      display: block;
      margin-left: auto;
    }

    @media (min-width: 480px) {
      a {
        max-width: 220px;
      }
    }
  }

  .add-note-dialog {
    @extend #customScroll--gray;

    @media (min-width: 360px) {
      height: auto;
    }

    &[open='open'] {
      display: flex;
      flex-direction: column;
    }

    .dialog-content {
      @media (max-width: 480px) {
        p {
          font-size: 18px;
        }
      }

      overflow: auto;

      padding: 0 24px;
      text-align: start;

      @media (min-width: 768px) {
        padding: 0 60px;
      }
    }

    .dialog-footer {
      text-align: end;
      margin-top: auto;
    }
  }
}

.disabled-menu-item {
  opacity: 0.3;
  pointer-events: none;
}

// - Note list

// + Quiz report
dialog.quiz-report-dialog {
  @extend #customScroll--gray;
  max-height: 600px;
  max-width: 1024px;

  &[open='open'] {
    display: flex;
    flex-direction: column;
  }

  .quiz-report-modal-title {
    font-size: 32px;
    line-height: 38px;

    @media (min-width: 480px) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  .dialog-content {
    flex-grow: 1;
    overflow: hidden;
  }

  .tabs-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .table-container {
    position: relative;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      th {
        position: sticky;
        top: 0;
        background-color: #f8f8f8;
        padding: 12px;
        text-transform: uppercase;
        font-family: var(--font-gothic);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        color: #8e8b87;
        text-align: end;
        width: 16.66%;
      }

      th:nth-of-type(1) {
        text-align: start;
        width: 29%;
        min-width: 200px;
        padding-left: 30px;
      }

      th:nth-of-type(2) {
        width: 10%;
        min-width: 126px;
      }

      th:nth-of-type(3) {
        width: 14%;
        min-width: 90px;
      }

      th:nth-of-type(4) {
        width: 14%;
        min-width: 80px;
      }

      th:nth-of-type(5) {
        width: 14%;
        min-width: 90px;
      }

      th:nth-of-type(6) {
        width: 19%;
        min-width: 150px;
        padding-right: 30px;
      }
    }

    tbody {
      tr:nth-of-type(even) {
        background-color: #f8f8f8;
      }
      td {
        padding: 12px;
        text-align: end;
        font-family: var(--font-gothic);
        color: var(--clr-text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        overflow-wrap: break-word;
      }

      td:nth-of-type(1) {
        text-align: start;
        padding-left: 30px;
        width: 25%;
        min-width: 200px;
        max-width: 204px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      td:nth-of-type(6) {
        text-align: end;
        padding-right: 30px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        .action-link {
          text-decoration: none;
          border-bottom: none;
          justify-content: flex-end;

          &:before {
            font-size: 16px;
            padding-right: 8px;
          }
        }

        .action-link-passed {
          color: var(--clr-brandOKShad);
        }
      }

      .incorrect-cell {
        color: var(--clr-brandErrorShad);
      }

      .correct-cell {
        color: var(--clr-brandOKShad);
      }
    }

    @media (min-width: 1024px) {
      thead {
        th:nth-of-type(1) {
          padding-left: 60px;
          max-width: 300px;
        }

        th:nth-of-type(6) {
          padding-right: 60px;
        }
      }

      tbody {
        td {
          padding: 20px;
          font-size: 18px;
          line-height: 30px;
        }

        td:nth-of-type(1) {
          padding-left: 60px;
        }

        td:nth-of-type(6) {
          padding-right: 60px;
        }
      }
    }
  }

  .dialog-footer {
    text-align: end;
    margin-top: auto;
    border-top: 1px solid #d2d1ce;

    &.buttons {
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    button {
      width: 100%;
    }

    @media (min-width: 480px) {
      button {
        max-width: 180px;
       
      }
    }

    @media (min-width: 1024px) {
      &.buttons {
        padding-right: 60px;
        padding-top: 40px;
        padding-bottom: 48px;
      }

      button {
        max-width: 220px;
        width: 100%;
      }
    }
  }
}

// - Quiz report
