@import '../../css/scss/_variables';
@import '../../css/scss/_extend';
@import '../../css/scss/_fonts';
@import '../../css/scss/_owl.carousel.scss';
@import './typography.scss';
// TODO: replace @import with direct links to font files
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

.game-page {
  padding-left: 300px;
  padding-right: 300px;

  article {
    max-width: 690px;
  }

  @media (max-width: 1023px) {
    & {
      padding-left: var(--size-L);
      padding-right: var(--size-L);
      padding-top: 40px;
    }

    .simpleButton.backButton.back2dashboardButton {
      position: static;
      display: inline-block;
      margin-top: 0;
    }

    .backButton.back2dashboardButton {
      position: static;
      order: 1;
      margin-top: 0;
      align-self: center;
    }
  }

  @media (min-width: 1024px) {
    a.simpleButton.back2dashboardButton:not(.asLink) {
      top: 40px;
    }
  }

  .quiz-progress {
    padding: 36px 0 0;
    margin-bottom: 20px;

    .progressBar {
      width: 100%;
    }
  }

  .progress-top {
    display: flex;
    justify-content: space-between;

    span {
      color: var(--clr-brandBrick);

      @for $i from 20 through 79 {
        &.progressText--width#{$i} {
          color: var(--clr-hover);
        }
      }
      @for $i from 80 through 100 {
        &.progressText--width#{$i} {
          color: var(--clr-brandOK);
        }
      }
    }
  }

  .blackboard-container {
    position: absolute;
    top: 40px;
    right: 24px;

    @media (min-width: 768px) {
      .simpleButton.ghostButton {
        height: auto;
      }
    }
  }

  .blackboard {
    position: absolute;
    top: 0px;
    right: 0;
  }

  //////////

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-header {
    display: flex;
    width: 100%;
    margin-bottom: 20px;

    .correct-item,
    .incorrect-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 120px;
      border-radius: 16px;
      height: 48px;
      padding: 0 32px 0 8px;
      margin-right: 20px;

      &::before {
        border-radius: 50%;
        padding-right: 0;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .correct-item {
      border: 2px solid var(--clr-brandOKShad);
      color: var(--clr-brandOKShad);

      &::before {
        background-color: var(--clr-brandOKShad);
        color: var(--clr-white);
      }
    }

    .incorrect-item {
      border: 2px solid var(--clr-brandErrorShad);
      color: var(--clr-brandErrorShad);

      &::before {
        background-color: var(--clr-brandErrorShad);
        color: var(--clr-white);
      }
    }

    .timer {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--clr-hover);
      color: white;
      border-radius: 50%;
    }

    .lives {
      margin-left: auto;
      display: flex;

      span {
        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }

      span:before {
        content: '';
        display: block;
        height: 40px;
        width: 40px;
        background-image: url(../../img/heart-filled.svg);
      }

      .heart-empty:before {
        background-image: url(../../img/heart.svg);
      }
    }
  }

  .game {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    padding: 40px;
    background-color: var(--clr-white);
    border-radius: 16px;
    height: 500px;
  }

  .btn-check {
    padding-right: 88px;
    padding-left: 88px;
  }
}
