AddType image/avif .avif
AddType application/x-httpd-php .html .htm
AddType application/x-httpd-php5 .html .htm
AddHandler application/x-httpd-php .html .htm 

# +always get newest css, js -- karlsson, 2018.05.03
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\.*)v2\/css\/style.([0-9]*).* /v2/css/style.css [L,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\.*)v2\/js\/common.([0-9]*).* /v2//js/common.min.js [L,NC]
# -always get newest css, js -- karlsson, 2018.05.03