@import "../../../../v2/css/scss/_fonts";
@import "../../../../v2/addon-css/typography.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");

html {
  height: auto;
}

body {
  height: auto;
  min-height: 100vh;
}

button:not(.asLink),
a.button {
  @media (max-width: 1023px) {
    filter: unset !important;
  }
}

.game-container {
  max-width: 690px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--size-S);
  padding-right: var(--size-S);
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1024px) {
    padding-bottom: 120px;
  }

  h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .game-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    .result-item-block {
      display: flex;

      @media (min-width: 768px) {
        width: auto;
      }
    }

    .correct-item,
    .incorrect-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 16px;
      height: 32px;

      &::before {
        border-radius: 50%;
        padding-right: 0;
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        margin-right: 8px;
      }

      @media (min-width: 480px) {
        &::before {
          height: 32px;
          width: 32px;
          font-size: 18px;
          line-height: 30px;
          font-weight: 600;
        }
      }

      @media (min-width: 768px) {
        &::before {
          height: 32px;
          width: 32px;
          font-size: 24px;
        }
      }
    }

    .correct-item {
      color: var(--clr-brandOKShad);
      margin-right: 16px;
      margin-left: 0;

      &::before {
        background-color: var(--clr-brandOKShad);
        color: var(--clr-white);
      }
    }

    .incorrect-item {
      color: var(--clr-brandErrorShad);

      &::before {
        background-color: var(--clr-brandErrorShad);
        color: var(--clr-white);
      }
    }

    @media (min-width: 768px) {
      .correct-item,
      .incorrect-item {
        padding: 0 16px 0 8px;
      }

      .correct-item {
        border: 2px solid var(--clr-brandOKShad);
        width: 120px;
        margin-right: 20px;
        height: 48px;
      }

      .incorrect-item {
        border: 2px solid var(--clr-brandErrorShad);
        width: 120px;
        height: 48px;
        margin-right: 20px;
      }
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;

      .timer-clock {
        background-color: unset;
        border: 2px solid var(--clr-hover);

        &:before {
          content: "";
          display: block;
          height: 16px;
          width: 16px;
          background-size: 100%;
          background-image: url(../img/clock.svg);
        }
      }

      span {
        width: 32px;
        height: 32px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-hover);
        border-radius: 50%;
        color: white;
      }
    }

    .lives {
      display: flex;
      justify-content: center;

      span {
        &:not(:last-of-type) {
          margin-right: 8px;
        }
      }

      span:before {
        content: "";
        display: block;
        height: 24px;
        width: 24px;
        background-size: 100%;
        background-image: url(../img/heart-filled.svg);
      }

      .heart-empty:before {
        background-image: url(../img/heart.svg);
      }
    }

    @media (min-width: 480px) {
      .lives {
        span:before {
          height: 32px;
          width: 32px;
        }
      }

      .timer {
        span {
          width: 40px;
          height: 40px;
          font-size: 240x;

          &.timer-clock:before {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    @media (min-width: 600px) {
      .timer {
        margin: 0;
      }

      .lives {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    @media (min-width: 768px) {
      .lives {
        margin-left: auto;

        span:before {
          height: 40px;
          width: 40px;
        }
      }

      .timer {
        span {
          width: 48px;
          height: 48px;
          font-size: 24px;

          &.timer-clock:before {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }

  .game-finish-wrapper {
    width: 100%;

    .game-finish-title {
      font-weight: bold;
      font-size: 38px;
      line-height: 48px;
      margin: 80px 0 20px;
      text-align: center;
    }

    .game-finish-text {
      margin-bottom: 44px;
      display: flex;
      justify-content: center;
      text-align: center;

      .coin-icon {
        display: flex;
        align-items: center;
        margin-left: 8px;

        &:before {
          height: 24px;
          width: 24px;
          margin-right: 4px;
        }
      }
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .dashboard-link,
      .play-again-link {
        max-width: 300px;
        width: 100%;
        text-align: center;
      }

      .play-again-link {
        margin: 20px 0 0 0;
      }
    }

    @media (min-width: 360px) {
      .game-finish-title {
        font-size: 40px;
        line-height: 48px;
      }
    }

    @media (min-width: 480px) {
      .game-finish-title {
        font-size: 60px;
        line-height: 80px;
      }

      .btn-container {
        flex-direction: row;
        justify-content: center;

        .dashboard-link,
        .play-again-link {
          width: 50%;
        }

        .play-again-link {
          margin: 0 0 0 20px;
        }
      }
    }

    @media (min-width: 768px) {
      .game-finish-title {
        font-size: 72px;
        line-height: 87px;
      }
    }
  }
}

.game {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--clr-white);
  border-radius: 16px;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0 40px 40px;
    align-items: flex-start;
  }
}

.game-container .btn-check {
  display: block;
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
}

.circle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 300px;

  @media (min-width: 768px) {
    margin-right: 40px;
  }

  svg {
    width: 100%;
    height: auto;
  }

  path {
    fill: white;
  }

  .color-fill-yellow {
    fill: var(--clr-brandGoldLite);
    stroke: var(--clr-brandGoldLite);
  }

  .color-fill-orange {
    fill: var(--clr-brandBrick);
    stroke: var(--clr-brandBrick);
  }

  .color-fill-red {
    fill: var(--clr-brandErrorShad);
    stroke: var(--clr-brandErrorShad);
  }

  .color-fill-pink {
    fill: #e02981;
    stroke: #e02981;
  }

  .color-fill-green {
    fill: var(--clr-brandOKShad);
    stroke: var(--clr-brandOKShad);
  }

  .color-fill-lightgreen {
    fill: #8cd850;
    stroke: #8cd850;
  }

  .color-fill-turquoise {
    fill: #00bdb2;
    stroke: #00bdb2;
  }

  .color-fill-blue {
    fill: var(--clr-hover);
    stroke: var(--clr-hover);
  }

  .color-fill-violet {
    fill: var(--clr-visited);
    stroke: var(--clr-visited);
  }

  .color-fill-gray {
    fill: #8e8b87;
    stroke: #8e8b87;
  }

  .color-fill-brown {
    fill: #824d00;
    stroke: #824d00;
  }

  .color-fill-black {
    fill: var(--clr-dark);
    stroke: var(--clr-dark);
  }

  // Hover
  .color-fill-hover-yellow {
    fill: var(--clr-brandGoldLite);
    stroke: var(--clr-brandGoldLite);
    opacity: 0.3;
  }

  .color-fill-hover-orange {
    fill: var(--clr-brandBrick);
    stroke: var(--clr-brandBrick);
    opacity: 0.3;
  }

  .color-fill-hover-red {
    fill: var(--clr-brandErrorShad);
    stroke: var(--clr-brandErrorShad);
    opacity: 0.3;
  }

  .color-fill-hover-pink {
    fill: #e02981;
    stroke: #e02981;
    opacity: 0.3;
  }

  .color-fill-hover-green {
    fill: var(--clr-brandOKShad);
    stroke: var(--clr-brandOKShad);
    opacity: 0.3;
  }

  .color-fill-hover-lightgreen {
    fill: #8cd850;
    stroke: #8cd850;
    opacity: 0.3;
  }

  .color-fill-hover-turquoise {
    fill: #00bdb2;
    stroke: #00bdb2;
    opacity: 0.3;
  }

  .color-fill-hover-blue {
    fill: var(--clr-hover);
    stroke: var(--clr-hover);
    opacity: 0.3;
  }

  .color-fill-hover-violet {
    fill: var(--clr-visited);
    stroke: var(--clr-visited);
    opacity: 0.3;
  }

  .color-fill-hover-gray {
    fill: #8e8b87;
    stroke: #8e8b87;
    opacity: 0.3;
  }

  .color-fill-hover-brown {
    fill: #824d00;
    stroke: #824d00;
    opacity: 0.3;
  }

  .color-fill-hover-black {
    fill: var(--clr-dark);
    stroke: var(--clr-dark);
    opacity: 0.3;
  }

  .color-fill-error {
    fill: #f9dcde;
    stroke: var(--clr-brandErrorShad);
  }

  .color-fill-hover {
    fill: #f9dcde;
    stroke: var(--clr-brandErrorShad);
    fill-opacity: 1;
  }
}

.colors {
  flex-grow: 1;
  margin-top: 24px;

  @media (min-width: 768px) {
    max-width: 136px;
    margin-top: 0;
    margin-left: auto;
  }

  @media (min-width: 1024px) {
    max-width: 136px;
  }

  .drag-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    background-color: #f4f3f3;
    padding: 8px;
    border-radius: 16px;
    max-width: 440px;

    @media (min-width: 480px) {
      padding: 16px;
    }

    @media (min-width: 768px) {
      justify-content: flex-end;
      max-width: unset;
      border-radius: 16px 0 0 16px;
    }
  }

  .drag-item {
    padding: 6px;
    transition: transform 0.15s ease-in 0s;
    width: 16.66%;

    & > span {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    span[data-color="yellow"] {
      background-color: var(--clr-brandGoldLite);
    }

    span[data-color="orange"] {
      background-color: var(--clr-brandBrick);
    }

    span[data-color="red"] {
      background-color: var(--clr-brandErrorShad);
    }

    span[data-color="pink"] {
      background-color: #e02981;
    }

    span[data-color="green"] {
      background-color: var(--clr-brandOKShad);
    }
    span[data-color="lightgreen"] {
      background-color: #8cd850;
    }

    span[data-color="turquoise"] {
      background-color: #00bdb2;
    }

    span[data-color="blue"] {
      background-color: var(--clr-hover);
    }

    span[data-color="violet"] {
      background-color: var(--clr-visited);
    }

    span[data-color="gray"] {
      background-color: #8e8b87;
    }

    span[data-color="brown"] {
      background-color: #824d00;
    }

    span[data-color="black"] {
      background-color: var(--clr-dark);
    }

    @media (min-width: 480px) {
      padding: 12px;

      & > span {
        width: 40px;
        height: 40px;
      }
    }

    @media (min-width: 768px) {
      padding: 6px;
      width: 50%;
    }
  }
}

.ui-droppable-active {
  fill: red;
}

[draggable="true"] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
