@import "../../../../../v2/css/scss/_variables";
@import "../../../../../v2/css/scss/_extend";
@import "../../../../../v2/css/scss/_fonts";
@import "../../../../../v2/addon-css/typography.scss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap");

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 690px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--size-S);
  padding-right: var(--size-S);
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }


  @media(min-width:1024px){
    padding-bottom: 120px;
  }

  h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .game-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-between;

    @media (min-width: 768px) {
      justify-content: flex-start;
    }

    .result-item-block {
      display: flex;

      @media (min-width: 768px) {
        width: auto;
      }
    }

    .correct-item,
    .incorrect-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 16px;
      height: 32px;

      &::before {
        border-radius: 50%;
        padding-right: 0;
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        margin-right: 8px;
      }

      @media (min-width: 480px) {
        &::before {
          height: 32px;
          width: 32px;
          font-size: 18px;
          line-height: 30px;
          font-weight: 600;
        }
      }

      @media (min-width: 768px) {
        &::before {
          height: 32px;
          width: 32px;
          font-size: 24px;
        }
      }
    }

    .correct-item {
      color: var(--clr-brandOKShad);
      margin-right: 16px;
      margin-left: 0;

      &::before {
        background-color: var(--clr-brandOKShad);
        color: var(--clr-white);
      }
    }

    .incorrect-item {
      color: var(--clr-brandErrorShad);

      &::before {
        background-color: var(--clr-brandErrorShad);
        color: var(--clr-white);
      }
    }

    @media (min-width: 768px) {
      .correct-item,
      .incorrect-item {
        padding: 0 16px 0 8px;
      }

      .correct-item {
        border: 2px solid var(--clr-brandOKShad);
        width: 120px;
        margin-right: 20px;
        height: 48px;
      }

      .incorrect-item {
        border: 2px solid var(--clr-brandErrorShad);
        width: 120px;
        height: 48px;
        margin-right: 20px;
      }
    }

    .timer {
      display: flex;
      align-items: center;
      justify-content: center;

      .timer-clock {
        background-color: unset;
        border: 2px solid var(--clr-hover);

        &:before {
          content: "";
          display: block;
          height: 16px;
          width: 16px;
          background-size: 100%;
          background-image: url(../img/clock.svg);
        }
      }

      span {
        width: 32px;
        height: 32px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-hover);
        border-radius: 50%;
        color: white;
      }
    }

    .lives {
      display: flex;
      justify-content: center;

      span {
        &:not(:last-of-type) {
          margin-right: 8px;
        }
      }

      span:before {
        content: "";
        display: block;
        height: 24px;
        width: 24px;
        background-size: 100%;
        background-image: url(../img/heart-filled.svg);
      }

      .heart-empty:before {
        background-image: url(../img/heart.svg);
      }
    }

    @media (min-width: 480px) {
      .lives {
        span:before {
          height: 32px;
          width: 32px;
        }
      }

      .timer {
        span {
          width: 40px;
          height: 40px;
          font-size: 240x;

          &.timer-clock:before {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    @media (min-width: 600px) {
      .timer {
        margin: 0;
      }

      .lives {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    @media (min-width: 768px) {
      .lives {
        margin-left: auto;

        span:before {
          height: 40px;
          width: 40px;
        }
      }

      .timer {
        span {
          width: 48px;
          height: 48px;
          font-size: 24px;

          &.timer-clock:before {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
  }
}

.game {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--clr-white);
  border-radius: 16px;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    align-items: flex-start;
  }
}

.btn-check {
  max-width: 240px;
  width: 100%;
}

.circle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0;
  max-width: 300px;

  @media (min-width: 768px) {
    margin-right: 40px;
  }

  svg {
    width: 100%;
    height: auto;
  }

  path {
    fill: white;
  }

  .color-fill-yellow {
    fill: var(--clr-brandGoldLite);
    stroke: var(--clr-brandGoldLite);
  }

  .color-fill-orange {
    fill: var(--clr-brandBrick);
    stroke: var(--clr-brandBrick);
  }

  .color-fill-red {
    fill: var(--clr-brandErrorShad);
    stroke: var(--clr-brandErrorShad);
  }

  .color-fill-pink {
    fill: #e02981;
    stroke: #e02981;
  }

  .color-fill-green {
    fill: var(--clr-brandOKShad);
    stroke: var(--clr-brandOKShad);
  }

  .color-fill-turquoise {
    fill: #00bdb2;
    stroke: #00bdb2;
  }

  .color-fill-blue {
    fill: var(--clr-hover);
    stroke: var(--clr-hover);
  }

  .color-fill-violet {
    fill: var(--clr-visited);
    stroke: var(--clr-visited);
  }

  .color-fill-hover-yellow {
    fill: var(--clr-brandGoldLite);
    stroke: var(--clr-brandGoldLite);
    opacity: 0.3;
  }

  .color-fill-hover-orange {
    fill: var(--clr-brandBrick);
    stroke: var(--clr-brandBrick);
    opacity: 0.3;
  }

  .color-fill-hover-red {
    fill: var(--clr-brandErrorShad);
    stroke: var(--clr-brandErrorShad);
    opacity: 0.3;
  }

  .color-fill-hover-pink {
    fill: #e02981;
    stroke: #e02981;
    opacity: 0.3;
  }

  .color-fill-hover-green {
    fill: var(--clr-brandOKShad);
    stroke: var(--clr-brandOKShad);
    opacity: 0.3;
  }

  .color-fill-hover-turquoise {
    fill: #00bdb2;
    stroke: #00bdb2;
    opacity: 0.3;
  }

  .color-fill-hover-blue {
    fill: var(--clr-hover);
    stroke: var(--clr-hover);
    opacity: 0.3;
  }

  .color-fill-hover-violet {
    fill: var(--clr-visited);
    stroke: var(--clr-visited);
    opacity: 0.3;
  }

  .color-fill-error {
    fill: #f9dcde;
    stroke: var(--clr-brandErrorShad);
  }

  .color-fill-hover {
    fill: #f9dcde;
    stroke: var(--clr-brandErrorShad);
    fill-opacity: 1;
  }
}

.colors {
  flex-grow: 1;
  margin-top: 40px;

  @media (min-width: 768px) {
    max-width: 172px;
    margin-top: 0;
    margin-left: auto;
  }

  @media (min-width: 1024px) {
    max-width: 136px;
  }

  .drag-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin: 0 auto;
    max-width: 220px;

    @media (min-width: 480px) {
      max-width: unset;
      margin: -12px;
    }

    @media (min-width: 1024px) {
      margin: -6px;
    }
  }

  .drag-item {
    padding: 12px;
    transition: transform 0.15s ease-in 0s;

    @media (min-width: 1024px) {
      padding: 6px;
    }

    & > span {
      display: block;
    }

    span[data-color="yellow"] svg g rect {
      fill: var(--clr-brandGoldLite);
    }

    span[data-color="orange"] svg g rect {
      fill: var(--clr-brandBrick);
    }

    span[data-color="red"] svg g rect {
      fill: var(--clr-brandErrorShad);
    }

    span[data-color="pink"] svg g rect {
      fill: #e02981;
    }

    span[data-color="green"] svg g rect {
      fill: var(--clr-brandOKShad);
    }

    span[data-color="turquoise"] svg g rect {
      fill: #00bdb2;
    }

    span[data-color="blue"] svg g rect {
      fill: var(--clr-hover);
    }

    span[data-color="violet"] svg g rect {
      fill: var(--clr-visited);
    }

    svg {
      display: inline-block;
      pointer-events: none;
    }
  }
}

.ui-droppable-active {
  fill: red;
}

[draggable="true"] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
